.plusReduceCount {
    height: 40px;
    width: 150px;
    text-align: center;
    margin: 0px auto;
}

.plusReduceCount button {
    height: 40px;
    width: 40px;
    float: left;
    background-color: #f0250f;
    color: #ffffff;
    border: none;
}

.plusReduceCount input {
    height: 40px;
    width: 70px;
    float: left;
    border: 1px solid #f0250f;
    font-size: 16px;
    text-align: center;
}

#price {
    color: #f0250f;
}

#confirmButton {
    background-color: #f0250f;
    color: #ffffff;
    height: 50px;
}