.wh-enquiry-customer{
    color: white;
    background-color: red;
    margin-top: 7px !important;
    padding: 3px 8px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    width: 58px;
    display: block;
}

.wh-headerMargin{
    height: 30px !important;
    min-width: 76px;
}
.wh-rightMargin{
    min-width: 10rem;
}

.line-clamp5 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}
