.wh-contaner{
    padding-left: 10px;
    justify-content: space-between;
    display: flex !important;
    background-color: white !important;
    font-size: 13px;
}
.wh-color{
    color: black;
}
.wh-color:focus ,.wh-color:hover{
    color: black;
}
.wh-setting{
    padding-top:1.2rem;
}
.wh-setting >span:focus,.wh-setting >span:hover{
    color: #8a8a8a;
}
.wh-imgfloat{
    margin-top: 5px;
    margin-right: 4px;
    width: 12px;
    height: 12px;
}
.wh-addMembers{
    text-align: center;
}
.wh-rightAlign{
    margin-right: 1.6rem;
}

.wh-personNumberFontSet{
    color: #8a8a8a;
    font-size: 1.3rem;
}