.wh-contaner{
    width:100%;
}
.wh-nav{
    width: 100%;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}
.wh-nav>li{
    position: relative;
    display: block;
    background: #FFFF;
    margin: 0px 0px;
    margin-bottom: 10px;
}
.wh-leftLable{
    float: left;
    padding-left: 3%;
    font-size: 13px;
}
.wh-rightLable{
    float: right;
    padding-left: 11%;
    margin-right: 0%;
    font-size: 13px;
    margin-right: 1rem;
}
.wh-labalContaner{
    padding-top: 19px;
    height: 42px;

}
.wh-content{
    line-height: 27px;
    margin-top: 2px;
    margin-left: 3%;
    margin-right: 3%;
    border-bottom: 1px solid;
    border-bottom-color: gainsboro;
    color: #979797;
    font-size: 13px;
}
.wh-defuatIco{
    width: 16px;
    margin-top: -3px;
    margin-left: 3%;
}
.wh-customerEdit{
    float: right;
    border: 1px solid gray;
    color: black;
}
.wh-customerDelete{
    float: right;
    color: #F0250F;
    border: 1px solid #F0250F;
}
.wh-customerSize{
    font-size: 1.1rem;
    background-color: white;
    padding: .3em 0.8em;
    padding-top: 0.3rem;
    text-align: center;
    line-height: 1.2;
    margin-top: 0px;
    background-color: white;
    border-radius: 57px;
    margin-right: 1rem;
}
.wh-address{
    background: white;
    text-align: center;
    height: 50px;
    padding-top: 14px;
    display: block;
}
.wh-address:hover{
    color: #F0250F;
}
.wh-customerAddressBtn{
    background: #FFFF;
    font-size: 13px;
    color: #F0250F;
}
.wh-customerAddressBtn:hover{
    color:  #F0250F;
}
.wh-addIco{
    width: 17px;
    margin: auto;
    margin-top: -2px;  
}
.wh-item-foot{
    height: 3rem;
    margin-top: -0.8rem;
    font-size: 13px;
}
.wh-customerEdit:hover{
    color: black;
}
.wh-customerDelete:hover{
    color: #F0250F;
}

.wh-div-tile{
    width: 9rem;
    display: inline-block;
    padding-left: 0.3rem;
    color: black;
    font-size: 13px;
    vertical-align: top;
}
.wh-div-item{
    position: absolute;
    width: 100%;
    margin-top: -20px;
    margin-left: 59px;
}


