.wh-nav{
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}
.wh-nav>li{
    position: relative;
    display: block;
    height: 4rem;
}
.wh-nav-a{
    position: relative;
    display: block;
    padding: .5em 1em;
    border-radius: 0;
    color: #696969;
}
/* .wh-nav-a:hover, .wh-nav-a:focus{
    text-decoration: none;
    color: #FF4500;
    background-color: #FFFFFF;
    border-left: 4px solid #FF4500;
} */
.wh-nav-a:hover{
    text-decoration: none;
    color: #FF4500;
    background-color: #FFFFFF;
    border-left: 4px solid #FF4500;
}

/* .wh-nav-a:hover{
    text-decoration: none;
    color: #FF4500;
    background-color: #FFFFFF;
    border-left: 4px solid #FF4500;
} */
.wh-nav:after, .wh-nav:before {
    content: " ";
    display: table;
}

.wh-redBack{
    display: none;
    margin-top:9px;
    width: 3px;
    height: 27px;
    background: #FF4500;
}
.wh-showLable{
    display: inline-block;
}
.wh-righUiList{
    float: right;
    /* overflow: hidden; */
    margin: 0;
    padding: 0;
    width: 78%;
}
.wh-righUiList>li{
    display: inline-flex;
    width: 30%;
    height: 8rem;
    color: #696969;
    margin: auto;
    padding-left: 6%;
    padding-right: 25%;
    
}
.wh-section {
    position: absolute;
    width: 100%;
    overflow: hidden;
    margin-top: 40px;
}
.wh-right-a{
    color: #696969;
    position: absolute;
    margin-top: 6rem;
    font-size: 10px;
    text-align: center;
    width: 6rem;
}
.wh-wight{
    position: absolute;
    top: 49px;
    bottom: 0;
    z-index: 10;
    width: 22%;
    overflow: hidden;
}

.wh-sliderBar{
    position: fixed;
    top: 41px;
    bottom: 47px;
    left: 0;
    z-index: 1091;
    width: 28%;
    max-width: 100%;
    background: #F0F0F0;
    overflow-y: auto;
    font-size: 13px;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out;
    transform: translateX(0%);
}
.wh-white{
    color: white;
}
.wh-right-slider{
    position: fixed;
    top: 41px;
    bottom: 47px;
    left: 31%;
    z-index: 1091;
    width: 69%;
    max-width: 100%;
    overflow-y: auto;
    font-size: 13px;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out;
    transform: translateX(0%);
}
.wh-right-li{
    display: inline-flex;
    width: 32%;
    height: 10rem;
    color: #696969;
    padding: 0;
    margin: auto;
}
.wh-right-ul{
    margin-bottom: 0;
    padding: 0;
    list-style: none;
}
.wh-right-al{
    color: #696969;
    position: absolute;
    margin-top: 6.2rem;
    font-size: 10px;
    text-align: center;
    width: 32%;
}
.wh-right-al:hover{
    color: #696969; 
}

.wh-imgClas{
    margin: auto;
    margin-top: 0;
    width: 60px;
    height:60px;
    border-radius: 2px;
}